[submodule "agbcc"]
	path = agbcc
	url = https://github.com/pret/agbcc.git
[submodule "poryscript"]
	path = poryscript
	url = https://github.com/huderlem/poryscript.git
[submodule "porytiles"]
	path = porytiles
	url = https://github.com/grunt-lucas/porytiles.git
